* {
    padding: 0px;
    margin: 0px;
}

.border {
    width: 80vw;
    height: 80vh;
    padding: 10vh 10vw;
}

.layout {
    display: grid;
    width: 80vw;
    height: 80vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-gap: 20px;
}

.layout div {
    overflow: hidden;
}

#timer {
    grid-column-end: 2 span;
}